.tag-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 1rem auto ;
}

.tag {
    border: 1px solid white;
    border-radius: 10rem;
    background-color:azure;
    font-size: .9rem;
    padding: .3rem 1rem;
    margin: .2rem .15rem;
    font-weight: 400;
}

.tag:hover {
    /* border: 1px solid #0D6EFD; */
    color: #EAA56A;
}

